<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-4.2.xsd" >

	<bean id="propertyFactory" class="org.springframework.beans.factory.config.PropertiesFactoryBean" >
		<property name="locations" value="file:/opt/etc/clkio-rest/application.properties" />
	</bean>
	
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="properties" ref="propertyFactory" />
	</bean>

</beans>