<?xml version="1.0" encoding="UTF-8"?>
<web-app id="clkio-jaxws" version="3.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
						http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

	<display-name>clkio-rest</display-name>

	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>file:/opt/etc/clkio-rest/log4j.xml</param-value>
	</context-param>
	<context-param>
		<param-name>log4jExposeWebAppRoot</param-name>
		<param-value>false</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:springframework/spring-application-context.xml
			classpath:springframework/spring-ws-user.xml
			classpath:springframework/spring-ws-email.xml
			classpath:springframework/spring-ws-login.xml
			classpath:springframework/spring-ws-password.xml
			classpath:springframework/spring-ws-adjusting.xml
			classpath:springframework/spring-ws-profile.xml
			classpath:springframework/spring-ws-reason.xml
			classpath:springframework/spring-ws-timecard.xml
		</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- users -->
	<servlet>
		<servlet-name>userServlet</servlet-name>
		<servlet-class>com.clkio.web.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userServlet</servlet-name>
		<url-pattern>/users/*</url-pattern>
	</servlet-mapping>
	
	<!-- emails -->
	<servlet>
		<servlet-name>emailServlet</servlet-name>
		<servlet-class>com.clkio.web.EmailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emailServlet</servlet-name>
		<url-pattern>/emails/*</url-pattern>
	</servlet-mapping>
	
	<!-- login -->
	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>com.clkio.web.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/login/*</url-pattern>
	</servlet-mapping>
	
	<!-- password -->
	<servlet>
		<servlet-name>passwordServlet</servlet-name>
		<servlet-class>com.clkio.web.PasswordServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>passwordServlet</servlet-name>
		<url-pattern>/password/*</url-pattern>
	</servlet-mapping>

	<!-- profile -->
	<servlet>
		<servlet-name>profileServlet</servlet-name>
		<servlet-class>com.clkio.web.ProfileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>profileServlet</servlet-name>
		<url-pattern>/profiles/*</url-pattern>
	</servlet-mapping>
	
	<!-- adjusting -->
	<servlet>
		<servlet-name>adjustingServlet</servlet-name>
		<servlet-class>com.clkio.web.AdjustingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>adjustingServlet</servlet-name>
		<url-pattern>/adjustings/*</url-pattern>
	</servlet-mapping>
	
	<!-- reason -->
	<servlet>
		<servlet-name>reasonServlet</servlet-name>
		<servlet-class>com.clkio.web.ReasonServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>reasonServlet</servlet-name>
		<url-pattern>/reasons/*</url-pattern>
	</servlet-mapping>
	
	<!-- timecard -->
	<servlet>
		<servlet-name>timeCardServlet</servlet-name>
		<servlet-class>com.clkio.web.TimeCardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>timeCardServlet</servlet-name>
		<url-pattern>/timecard/*</url-pattern>
	</servlet-mapping>
	
	<!-- totaltime -->
	<servlet>
		<servlet-name>totalTimeServlet</servlet-name>
		<servlet-class>com.clkio.web.TotalTimeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>totalTimeServlet</servlet-name>
		<url-pattern>/totaltime/*</url-pattern>
	</servlet-mapping>
	
	<!-- clockinclockout -->
	<servlet>
		<servlet-name>clockinClockoutServlet</servlet-name>
		<servlet-class>com.clkio.web.ClockinClockoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>clockinClockoutServlet</servlet-name>
		<url-pattern>/clockinclockout/*</url-pattern>
	</servlet-mapping>
	
	<!-- manualentering -->
	<servlet>
		<servlet-name>manualEnteringServlet</servlet-name>
		<servlet-class>com.clkio.web.ManualEnteringServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>manualEnteringServlet</servlet-name>
		<url-pattern>/manualentering/*</url-pattern>
	</servlet-mapping>
	
	<!-- expectedhours -->
	<servlet>
		<servlet-name>expectedHoursServlet</servlet-name>
		<servlet-class>com.clkio.web.ExpectedHoursServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>expectedHoursServlet</servlet-name>
		<url-pattern>/expectedhours/*</url-pattern>
	</servlet-mapping>
	
	<!-- notes -->
	<servlet>
		<servlet-name>notesServlet</servlet-name>
		<servlet-class>com.clkio.web.NotesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>notesServlet</servlet-name>
		<url-pattern>/notes/*</url-pattern>
	</servlet-mapping>
	
	<!-- profiles filtering for proper internal redirection/forwarding -->
	<filter>
		<filter-name>profilesCustomDispatcher</filter-name>
		<filter-class>com.clkio.web.filter.CustomDispatcherFilter</filter-class>
		<init-param>
			<param-name>custom-dispatcher-forward</param-name>
			<param-value>
				<![CDATA[
					^.+(\/profiles\/\d+)(\/adjustings.*)$ => $2$1
					^.+(\/profiles\/\d+)(\/reasons.*)$ => $2$1
					^.+(\/profiles\/\d+)(\/timecard.*)$ => $2$1
				]]>
			</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>profilesCustomDispatcher</filter-name>
		<url-pattern>/profiles/*</url-pattern>
	</filter-mapping>
	
	<!-- timecard filtering for proper internal redirection/forwarding -->
	<filter>
		<filter-name>timeCardCustomDispatcher</filter-name>
		<filter-class>com.clkio.web.filter.CustomDispatcherFilter</filter-class>
		<init-param>
			<param-name>custom-dispatcher-forward</param-name>
			<param-value>
				<![CDATA[
					^.+(\/timecard\/\d+)(\/totaltime.*)$ => $2
					^.+(\/timecard\/\d+)(\/clockinclockout.*)$ => $2
					^.+(\/timecard\/\d+)(\/manualentering.*)$ => $2
					^.+(\/timecard\/\d+)(\/expectedhours.*)$ => $2
					^.+(\/timecard\/\d+)(\/notes.*)$ => $2
				]]>
			</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>timeCardCustomDispatcher</filter-name>
		<url-pattern>/timecard/*</url-pattern>
	</filter-mapping>
	
</web-app>
